<div class="container-fluid">
  <div class="row">
    {{> header_admin }}
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
      <h2 class="white-text">Create Brand</h2><hr>
      <div class="modal-body mx-auto white-text" style="width: 80%">
        <form method="post" action="/insertbrand">
            Brand Name:
            <div class="form-group">
              <input type="name" class="form-control" id="name" placeholder="Enter Brand Name" name="name" required>
            </div>
            Description: <br>
            <div class="form-group">
              <textarea type="text" class="form-control" id="no" placeholder="Enter Description" rows="7" name="description" > </textarea>
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-success"><i class="fas fa-paper-plane" style="font-size:15px"></i>&nbsp;&nbsp;Submit</button>
            </div>
        </form>
      </div>
    </main>
  </div>
</div>
