<div class="container-fluid">
  <div class="row">
    {{> header_admin }}
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
      <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column white-text">
        <header role="main" class="inner cover"><br><br><br><br><br><br>
          <h1 class="cover-heading text-center" style="font-size: 80px;">WELCOME</h1>
          <h1 class="cover-heading text-center" >ADMIN!</h1>
          <hr><br>
          </p>
        </header>
      </div>
    </main>
  </div>
</div>