<!--FOOTER-->
<br>
<footer class="mastfoot mt-auto white-text">
  <div class="inner text-center" style="letter-spacing: 5px;">
    <strong><p>TEAM FOUR</strong></p></strong>
  </div>
</footer><!--FOOTER-->