<div class="sidenav">
  <a href="../../"><img src="/images/team_logo.png"></a>
 <hr style="background-color: #66686b">
  <ul class="nav flex-column mb-2">
    <li class="nav-item">
      <a class="nav-link" href="/admin/dashboard">
        <i class="fas fa-tachometer-alt fa-sm"></i> Dashboard
      </a>
    </li>
  </ul>
  
  <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
    <span style="color: #AA6C0D"><i class="fas fa-list-ul"></i> List</span>
    <a class="d-flex align-items-center text-muted" href="#"></a>
  </h6>
  <ul class="nav flex-column mb-2">
    <li class="nav-item">
      <a class="nav-link" href="/admin/productlist">
        Product
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/admin/brands">
        Brand
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/admin/categories">
        Category
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/admin/customers">
        Customer
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/admin/orders">
        Order
      </a>
    </li>
  </ul>

  <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
    <span style="color: #AA6C0D"><i class="fas fa-plus-square"></i> Create</span>
    <a class="d-flex align-items-center text-muted" href="#">
    </a>
  </h6>
  <ul class="nav flex-column mb-2">
    <li class="nav-item">
      <a class="nav-link" href="/admin/product/create">
        Product
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/admin/brand/create">
        Brand
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/admin/category/create">
        Category
      </a>
    </li>
  </ul>
</div>

