<div class="sidenav">
  <a href="../../"><img src="/images/team_logo.png"></a>
<<<<<<< HEAD
 <hr style="background-color: #66686b">
  <ul class="nav flex-column mb-2">
    <li class="nav-item">
      <a class="nav-link" href="/admin/dashboard">
        <i class="fas fa-tachometer-alt fa-sm"></i> Dashboard
      </a>
    </li>
  </ul>
  
  <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
    <span style="color: #AA6C0D"><i class="fas fa-list-ul"></i> List</span>
    <a class="d-flex align-items-center text-muted" href="#"></a>
=======
  <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
    <span style="color: #AA6C0D"><i class="fas fa-list-ul"></i> List</span>
    <a class="d-flex align-items-center text-muted" href="#">
      <span data-feather="plus-circle"></span>
    </a>
>>>>>>> 5767731b498741800b94cff4596ec306dd54ecac
  </h6>
  <ul class="nav flex-column mb-2">
    <li class="nav-item">
      <a class="nav-link" href="/admin/productlist">
<<<<<<< HEAD
        Product
=======
        <span data-feather="shopping-cart"></span>

        Product

>>>>>>> 5767731b498741800b94cff4596ec306dd54ecac
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/admin/brands">
<<<<<<< HEAD
=======
        <span data-feather="users"></span>
>>>>>>> 5767731b498741800b94cff4596ec306dd54ecac
        Brand
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/admin/categories">
<<<<<<< HEAD
=======
        <span data-feather="file"></span>
>>>>>>> 5767731b498741800b94cff4596ec306dd54ecac
        Category
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/admin/customers">
<<<<<<< HEAD
        Customer
=======
        <span data-feather="users"></span>

        Customer

>>>>>>> 5767731b498741800b94cff4596ec306dd54ecac
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/admin/orders">
<<<<<<< HEAD
=======
        <span data-feather="file"></span>
>>>>>>> 5767731b498741800b94cff4596ec306dd54ecac
        Order
      </a>
    </li>
  </ul>

  <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
    <span style="color: #AA6C0D"><i class="fas fa-plus-square"></i> Create</span>
    <a class="d-flex align-items-center text-muted" href="#">
<<<<<<< HEAD
=======
      <span data-feather="plus-circle"></span>
>>>>>>> 5767731b498741800b94cff4596ec306dd54ecac
    </a>
  </h6>
  <ul class="nav flex-column mb-2">
    <li class="nav-item">
      <a class="nav-link" href="/admin/product/create">
<<<<<<< HEAD
=======
        <span data-feather="file-text"></span>
>>>>>>> 5767731b498741800b94cff4596ec306dd54ecac
        Product
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/admin/brand/create">
<<<<<<< HEAD
=======
        <span data-feather="file-text"></span>
>>>>>>> 5767731b498741800b94cff4596ec306dd54ecac
        Brand
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/admin/category/create">
<<<<<<< HEAD
=======
        <span data-feather="file-text"></span>
>>>>>>> 5767731b498741800b94cff4596ec306dd54ecac
        Category
      </a>
    </li>
  </ul>
<<<<<<< HEAD
=======

   <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
    <span style="color: #AA6C0D"><i class="far fa-edit"></i> Update</span>
    <a class="d-flex align-items-center text-muted" href="#">
      <span data-feather="plus-circle"></span>
    </a>
  </h6>
  <ul class="nav flex-column mb-2">
    <li class="nav-item">
      <a class="nav-link" href="/admin/productlist">
        <span data-feather="file-text"></span>
        Product
      </a>
    </li>
  </ul>

>>>>>>> 5767731b498741800b94cff4596ec306dd54ecac
</div>

