<div class="sidenav">
  <a href="../../"><img src="/images/team_logo.png"></a>
  <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
    <span style="color: #AA6C0D"><i class="fas fa-list-ul"></i> List</span>
    <a class="d-flex align-items-center text-muted" href="#">
      <span data-feather="plus-circle"></span>
    </a>
  </h6>
  <ul class="nav flex-column mb-2">
    <li class="nav-item">
      <a class="nav-link" href="/admin/productlist">
        <span data-feather="shopping-cart"></span>

        Product

      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/admin/brands">
        <span data-feather="users"></span>
        Brand
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/admin/categories">
        <span data-feather="file"></span>
        Category
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/admin/customers">
        <span data-feather="users"></span>

        Customer

      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/admin/orders">
        <span data-feather="file"></span>
        Order
      </a>
    </li>
  </ul>

  <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
    <span style="color: #AA6C0D"><i class="fas fa-plus-square"></i> Create</span>
    <a class="d-flex align-items-center text-muted" href="#">
      <span data-feather="plus-circle"></span>
    </a>
  </h6>
  <ul class="nav flex-column mb-2">
    <li class="nav-item">
      <a class="nav-link" href="/admin/product/create">
        <span data-feather="file-text"></span>
        Product
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/admin/brand/create">
        <span data-feather="file-text"></span>
        Brand
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/admin/category/create">
        <span data-feather="file-text"></span>
        Category
      </a>
    </li>
  </ul>

   <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
    <span style="color: #AA6C0D"><i class="far fa-edit"></i> Update</span>
    <a class="d-flex align-items-center text-muted" href="#">
      <span data-feather="plus-circle"></span>
    </a>
  </h6>
  <ul class="nav flex-column mb-2">
    <li class="nav-item">
      <a class="nav-link" href="/admin/productlist">
        <span data-feather="file-text"></span>
        Product
      </a>
    </li>
  </ul>

</div>

