<!--HEADER-->
<nav class="site-header sticky-top">
  <div class="container">
    <div class="row">
      <div class="col-md-2">
        <a href="../../"><img src="/images/team_logo.png"></a>
      </div>
      <div class="col-md-10 d-flex align-items-center">
        <ul class="nav nav-navbar">
          <li><a class="pb-2 d-none d-md-inline-block" href="/store"><i class="fas fa-shoe-prints"></i> SHOES</a></li>
          <li><a class="pb-2 d-none d-md-inline-block" href="/brand"><i class="fas fa-tag"></i> BRANDS</a></li> 
          <li><a class="pb-2 d-none d-md-inline-block" href="/category"><i class="fas fa-list-alt"></i> CATEGORIES</a></li> 
        </ul>
      </div>
    </div>
  </div>
</nav><!--HEADER-->