<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <title>Products</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css">
	<link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/product.css">
    <link rel="stylesheet" href="/css/css/bootstrap.css">
    <link rel="stylesheet" href="/css/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/css/mdb.css">
    <link rel="stylesheet" href="/css/css/mdb.min.css">
    <link rel="stylesheet" href="/css/css/style.css">
    <link rel="stylesheet" href="/css/css/style.min.css">
	</head>
<style>
    * {
        margin: 0px;
        font-family: "Lucida Console", Times, serif;
    }
    html, body {
        height: 100%;
    }
    .btn {
        border-radius: 0;
    }
    .btn-md {
        border-width: 0;
        outline: none;
        border-radius: 0;
        box-shadow: 2px 2px 2px rgba(0, 0, 0, .6);
        cursor: pointer;
    }    
    h3 {
        text-align: center;margin:40px;
    }
    body {
        background-image: linear-gradient(to left top, #403d46, #374758, #1c5360, #0e5d55, #37643c);
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
    li
    {
        display: block;
        line-height: 50px;
        font-size: 30px;
    }
</style>
 	<body>
 		{{{body}}}
 	</body>
 </html> 	