 <!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>TEAM 4 FOUR</title> 
<!-- CSS -->
<link rel="stylesheet" href="/css/bootstrap.min.css" >
</head>
<style>
.btn{border-radius: 0;}
.btn-md {
border-width: 0;
outline: none;
border-radius: 0;
box-shadow: 2px 2px 2px rgba(0, 0, 0, .6);
cursor: pointer;
}    
    h3 {text-align: center;margin:40px;}
</style>
 	<body>
 		{{{body}}}
 	</body>
 </html> 	