<div class="modal-body mx-auto white-text" style="width: 80%">
  <form method="post" action="/insertbrand">
      Brand Name:
      <div class="form-group">
        <input type="name" class="form-control" id="name" placeholder="Enter Brand Name" name="name" required>
      </div>
    
      Description: <br>
      <div class="form-group">
        <textarea type="text" class="form-control" id="no" placeholder="Enter Description" rows="7" name="description" required> </textarea>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-success"><i class="fas fa-paper-plane" style="font-size:15px"></i>&nbsp;&nbsp;Submit</button>
      </div>
  </form>
</div>