<div class="modal-body mx-auto white-text" style="width: 80%">
  <form method="post" action="/insertproduct">
      Product Name:
      <div class="form-group">
        <input type="name" class="form-control" id="name" placeholder="Enter Product Name" name="name" required > 
      </div>
    
      Description: <br>
      <div class="form-group">
        <input type="text" class="form-control" id="no" placeholder="Enter Description" name="description">
      </div>

      Tagline: <br>
      <div class="form-group">
        <input type="text" class="form-control" id="number" placeholder="Enter Tagline" name="tagline" >
      </div>

      Price: <br>
      <div class="form-group">
        <input type="number" class="form-control" id="id" placeholder="Enter Price" name="price" required >
      </div>

      Warranty: <br>
      <div class="form-group">
        <input type="number" class="form-control" id="email" placeholder="Enter Warranty Years" name="warranty">
      </div>

      Category: <br>
      <div class="form-group">
        <select class="form-control" name="category" required >
          {{#each rows.[1]}}
          <option value ="{{this.id}}">{{this.name}}</option>
          {{/each}}
        </select>
      </div>

     Brand: <br>
      <div class="form-group">
        <select class="form-control" name="brand" required>
          {{#each rows.[0]}}
          <option value ="{{this.id}}">{{this.name}}</option>
          {{/each}}
        </select>
      </div>

     Image Link: <br>
      <div class="form-group">
         <input type="text" class="form-control" id="image" placeholder="Enter Image Link (e.g https://www.sample.com/sample-image-here.png " name="image">
      </div>
      
      <div class="modal-footer">
        <button type="submit" class="btn btn-success pull-right"><i class="fas fa-paper-plane" style="font-size:15px"></i>&nbsp;&nbsp;Submit</button>
      </div>
  </form>
</div>