<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column white-text">
  <header role="main" class="inner cover"><br><br>
    <h1 class="cover-heading text-center" style="font-size: 80px;">WELCOME!</h1>
    <hr><br>
    <p class="lead text-center"><i><strong>“One can have no smaller or greater mastery than mastery of oneself.”</strong></i></p>
    <p class="text-center"><i>- Leonardo Da Vinci</i></p>
    <br><hr><br>
    <div class="text-center">
      <a href="/store" type="button" class="btn btn-lg btn-dark"><i class="fa fa-shopping-cart" style="font-size:20px;"></i>&nbsp;&nbsp;SHOP</a>
    </div>
    </p>
  </header>
</div>

