<nav class="site-header sticky-top py-1">
  <div class="container d-flex flex-column flex-md-row">
    <a class="py-3 d-none d-md-inline-block" href="#" style="font-size:24px"><i class="fa fa-home" style="font-size:25px"></i>&nbsp;&nbsp;HOME</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  
    <a class="py-3 d-none d-md-inline-block" href="/store" style="font-size:24px"><i class="fa fa-th-large" style="font-size:25px"></i>&nbsp;&nbsp;PRODUCTS</a>
  </div>
</nav>

<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column white-text">
  <header role="main" class="inner cover"><br><br>
    <h1 class="cover-heading text-center" style="font-size: 80px;">WELCOME!</h1>
    <hr><br>
    <p class="lead text-center"><i><strong>“One can have no smaller or greater mastery than mastery of oneself.”</strong></i></p>
    <p class="text-center"><i>- Leonardo Da Vinci</i></p>
    <br><hr><br>
    <div class="text-center"><a href="/store" type="button" class="btn btn-lg btn-primary"><i class="fa fa-shopping-cart" style="font-size:20px;"></i>&nbsp;&nbsp;SHOP</a></div>
    </p>
  </header>
</div>

<footer class="mastfoot mt-auto white-text">
  <div class="inner text-center" style="letter-spacing: 5px;">
    <strong><p>TEAM FOUR</strong></p></strong>
  </div>
</footer>
