{{> header }}
<br>
<div class="container-fluid">
  <div class="row">
    <main role="main" class="col-md-6 mx-auto col-lg-6 pt-3 px-4" style="border: 2px solid gray; border-radius: 20px">
      <h2 class="white-text text-center">FORGOT PASSWORD</h2><hr>
      <div class="modal-body mx-auto white-text" style="width: 80%">
        <form method="post" action="/forgotpassword">
            Please enter your Email
            <div class="form-group">
              <input type="email" class="form-control" id="name" placeholder="Email" name="email" required>
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-success"><i class="fas fa-paper-plane" style="font-size:15px"></i>&nbsp;&nbsp;DONE</button>
            </div>
        </form>
      </div>
    </main>
  </div>
</div>
{{> footer }}