
    {{> header_user }}
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
      <h2 class="white-text">USER LOGIN</h2><hr>
      <div class="modal-body mx-auto white-text" style="width: 80%">
        <form method="post" action="/login">
            EMAIL
            <div class="form-group">
              <input type="email" class="form-control" id="name" placeholder="Email" name="email" required>
            </div>
            PASSWORD <br>
            <div class="form-group">
              <input type="password" class="form-control" id="name" placeholder="Password" name="password" required>
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-success"><i class="fas fa-paper-plane" style="font-size:15px"></i>&nbsp;&nbsp;LOGIN</button>
            </div>
        </form>
      </div>
    </main>
  </div>
</div>
