{{> header_user }}
<div id="home" class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column white-text">
  <header role="main" class="inner cover"><br><br><br><br>
    <h1 class="cover-heading text-center" style="font-size: 80px;">WELCOME</h1>
    <h1 class="cover-heading text-center">USER!</h1>
    <hr><br>
    <div class="text-center container">
        <a href="/store"><button type="button" class="btn btn-dark"><i class="fa fa-shopping-bag"></i> Shop Now</button></a>
    </div>
  </header>
</div>
{{> footer }}